{{ define "main" -}}
<ul class="posts">
{{ range .Pages -}}
  <li>
    <span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2 Jan 2006" }}</time></span>
  </li>
{{- end }}
</ul>
{{- end }}
