<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.tagline }} {{.}} {{ else }}An elegant open source and mobile first theme for <a href="http://hugo.spf13.com">hugo</a> made by <a href="http://twitter.com/mdo">@mdo</a>. Originally made for Jekyll.{{end}}
      </p>
    </div>
    <nav>
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item{{if .IsHome}} active{{end}}">
          <a href="{{ .Site.BaseURL }}">Blog</a>
        </li>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main -}}
          <li class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a href="{{.URL}}"> {{ .Name }} </a>
          </li>
        {{- end }}
      </ul>
    </nav>
  </div>
</aside>
